.dashboard-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .rechartExample {
    margin-left: 128px;
    // margin-top: 200px;
    margin-top: 140px;
  }
}

.sidebar-container {
  width: 276px;
}

.sidebar {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48,51,51,.09);
  height: 576px;
  left: 876px;
  position: fixed;
  max-height: 570px;
  overflow-y: scroll;
  right: 128px;
  top: 95px;
  width: 275.77px;
}

.header-card {
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  height: 43px;
  padding: 4px 21px 0;

  h3 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
  }
}
