@import "colors";

.dashboard-container {
  display: flex;
  justify-content: space-between;
  // flex-direction: column;

  .portfolio-chart {
    // margin-left: 128px;
    margin-top: 30px;
  }
}

.portfolio-value {
  font-family: "DINPro-Medium";
  font-size: 36px;
  font-weight: 500;
  margin-top: 99px;
  // margin-left: 129px;
}

.portfolio-chart-tabs-container {
  border-bottom: 1px solid $bottom-border;
  font-size: 13px;
  margin-top: 24px;
  // margin-left: 129px;
  width: 676px;
}

.stock-chart-tabs-container {
  border-bottom: 1px solid $bottom-border;
  font-size: 13px;
  margin-top: 24px;
  width: 676px;
}

.chart-tabs {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 22px;
  justify-content: space-between;
  padding-bottom: 18px; 
  width: 16px;
}

.stock-price {
  color: #171718;
  font-family: "DINPro-Regular";
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0;
  line-height: 22px;
}

div.stocks-container > div:last-child {
  border-bottom: 1px solid $bottom-border;
}

.ticker {
  font-family: "DINPro-Medium";
  font-weight: 500;
}

.num-shares {
  font-family: "DINPro-Regular";
}

.stock-links {
  color: $black;
}

.portfolio-changes {
  margin-top: -20px;
  // margin-left: 130px;
}
