@import "colors";

header {
  background: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
}

.logo-search-container {
  display: flex;
}

.logo-star {
  display: none;
}

.nav-logo {
  margin-left: 48px;
  margin-top: 6px;
  right: 45px;
  -webkit-transition: fill 300ms ease-out;
  transition: fill 300ms ease-out;

  &:hover {
    fill: $green;
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 226.3px;
  height: 64px;
  margin-right: 48px;
  margin-top: -1px;

  a, button {
    color: $black;
    cursor: pointer;
    font-size: 13px;
  }

  a:hover {
    color: $green;
  }
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

button {
  border: none;
}
