@import "colors";

.navLogoStar {
  display: none;
}

.nav-logo {
  margin-left: 48px;
  margin-top: 6px;
  right: 45px;
}

header {
  background: white;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  width: 100%;
  align-items: center;
  z-index: 10;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  margin-left: 14px;
  width: 242px;

  a, button {
    font-size: 13px;
    font-weight: 400;
  }

  a {

    &:hover {
      color: $green;
    }
  }

  button {
    cursor: pointer;
    border: none;
  }
}
