@import "colors";

.login-container > div {
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50%;
}

.login-container h2 {
  color: #171718;
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.14px;
  line-height: 30px;
  margin: 0 0 16px;
}

.login-image {
  background-image: url(https://d2ue93q3u507c2.cloudfront.net/assets/generated_assets/94977d34f99015525dcd0fc9987fcbe6.png);
  background-position: 50%;
  background-size: cover;
  padding: 0;
  left: 0;
}

.login-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  padding: 50px;
  right: 0;
}

.login-label {
  color: #171718;
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 19px;
  padding: 9px 0;
}

.login-form input {
margin: 10px 0;
    width: 372px;
    height: 28px;
    border: 1px solid #fafafa;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 13px;
    background: #fafafa;
}

.login-form a {
  color: $green;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.25px;
  line-height: 19px;
}

.login-form button {
  background: #21ce99;
  border-color: #21ce99;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  height: 48px;
  letter-spacing: 0.25px;
  line-height: 19px;
  margin: 0;
  padding: 0 48px;
}
