@import "colors";

.newsfeed-container {
  margin-bottom: 64px;
  margin-top: 55px;
}

.newsfeed-heading {
  border-bottom: 1px solid $bottom-border;
  font-family: "DINPro-Medium";
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.14px;
  line-height: 30px;
  padding-bottom: 16px;
  width: 678.66px;
}

.newsfeed {
  margin-top: -22px;
}

.news-item-container {
  border-radius: 4px;
  display: flex;
  height: 134px;
  margin-left: -30px;
  padding: 30px;
  width: 678.66px;

  &:hover {
    background-color: $almost-white;
  }
}

.news-item-image {
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  height: 134px;
  width: 196px;
}

.news-item-info {
  margin-left: 24px;
  overflow: hidden;
}

.news-item-meta {
  // color: $dark-gray;
  color: $cool-purple;
  margin-bottom: 5px;
}

.news-item-title, .news-item-description {
  color: $black;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  width: 420px;
}

.news-item-title {
  font-family: "DINPro-Medium";
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 4px;
}

.news-item-description {
  font-family: "DINPro-Regular";
  font-weight: normal;
  letter-spacing: -0.4px;
}
