@import "colors";

#search-icon {
  fill: rgb(203, 203, 205);
  left: 151px;
  margin-top: 9px;
  position: absolute;
  transition: fill .15s ease-out;
}

.searchbar input {
  border: 1px solid rgb(244, 244, 245);
  border-radius: 4px;
  font-family: "DINPro-Regular";
  font-size: 13.5px;
  font-weight: norma;
  height: 36px;
  margin: 0;
  margin-top: 6px;
  margin-left: -33px;
  padding: 0;
  padding-left: 52px;
  width: 426px;
  z-index: 10;

  &:hover, &:focus {
    border-color: white;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48,51,51,.09);
  }
}

input::-webkit-input-placeholder {
  color: rgb(203, 203, 205);
}
input:focus::-webkit-input-placeholder {
  color: rgb(140, 140, 142);
}

input:-moz-placeholder {
  color: rgb(203, 203, 205);
}
input:focus:-moz-placeholder {
  color: rgb(140, 140, 142);
}

input::-moz-placeholder {
  color: rgb(203, 203, 205);
}
input:focus::-moz-placeholder {
  color: rgb(140, 140, 142);
}

input:-ms-input-placeholder {
  color: rgb(203, 203, 205);
}
input:focus:-ms-input-placeholder {
  color: rgb(140, 140, 142);
}

// TODO: Figure out how to highlight search icon
// TODO: Fix the shadowing...
.search-results {
  background: white;
  // box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, .09);
  box-shadow: 3px 2px 2px $almost-white, -3px 2px 2px $almost-white, 0px 3px 2px $almost-white, 0px 0px 2px $almost-white;
  border-radius: 4px;
  margin-top: -10px;
  margin-left: -33px;
  padding-bottom: 15px;
  position: absolute;
  visibility: hidden;
  width: 480px;
}

.searchbar:focus-within + .search-results, .search-results:focus, .search-results:active {
  visibility: visible;
}

.search-results li {
  &:hover {
    background: $black;
  }
}

#search-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 20px;
  padding-left: 24px;
  padding-bottom: 7px;
}

.result {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  font-family: "DINPro-Regular";
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 19px;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
}
