@import "colors";

.session-container > div {
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50%;
}

.session-container h2 {
  color: black;
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.14px;
  line-height: 30px;
  margin: 0 0 16px;
}

.session-image {
  background-image: url(https://d2ue93q3u507c2.cloudfront.net/assets/generated_assets/94977d34f99015525dcd0fc9987fcbe6.png);
  background-position: 50%;
  background-size: cover;
  padding: 0;
  left: 0;
}

.session-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  padding: 50px;
  right: 0;
}

.session-label {
  color: black;
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 19px;
  padding: 9px 0;
}

.session-form input {
  background: $almost-white;
  border: 1px solid $almost-white;
  border-radius: 4px;
  font-size: 13px;
  height: 28px;
  margin: 10px 0;
  padding: 10px 20px;
  width: 372px;
}

.session-form a {
  color: $green;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.25px;
  line-height: 19px;
}

.session-form a:hover {
  color: $light-green;
}

.session-form input[type=submit] {
  background: $green;
  border-color: $green;
  border-radius: 4px;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  height: 48px;
  letter-spacing: 0.25px;
  line-height: 19px;
  margin: 0;
  margin-top: 70px;
  padding: 0 48px;
  width: 139.7px;
}

.session-form input:hover {
  background-color: white;
  border: 1px solid $gray;
}

.session-form input[type=submit]:hover {
  background-color: $light-green;
}

#email-label, #password-label {
  margin-bottom: -7px;
}

#password-label {
  margin-top: -7px;
}
