@import "colors";

.sidebar-container {
  width: 276px;
}

.sidebar {
  border-radius: 4px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48,51,51,.09);
  max-height: calc(100vh - 119px);
  overflow-y: scroll;
  position: fixed;
  top: 95px;
  width: 276px;

  &::-webkit-scrollbar {
    background: transparent;
    width: 0px;
  }
}

.header-card-container {
  border-bottom: 1px solid $bottom-border;
}

.header-card {
  display: flex;
  align-items: center;
  font-family: "DINPro-Medium";
  height: 51px;
  padding: 4px 21px 0;
  padding: 0 24px;

  & h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
  }
}

#crypto-header {
  color: $black;

  &:hover {
    color: $cool-purple;
  }
}

#watchlist-header {
  border-top: 1px solid $bottom-border;
}

.stock-link {
  color: $black;
}


.stock-card-container:hover {
  background-color: $almost-white;
}

.stock-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-family: "DINPro-Medium";
  font-weight: 400;
  height: 60px;
  padding: 0 24px;
}

.ticker {
  font-family: "DINPro-Medium";
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.25px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

.num-shares {
  font-family: "DINPro-Regular";
  padding-left: 10px;
  width: 69.88px;
}

.stock-price {
  color: $black;
  font-family: "DINPro-Regular";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: right;
  width: 69.88px;
}
