@import "colors";

.splash-navbar-logo {
  height: 56px;
  margin-top: 2px;
  width: auto;
}

.splash-navbar-container {
  color: $green;
  display: flex;
  justify-content: space-between;
  height: 61px;
  padding-left: 49.5px;
  padding-right: 70px;
}

.splash-navbar-links {
  cursor: pointer;
  display: grid;
  font-family: "DINPro-Medium";
  font-size: 13.5px;
  font-weight: 600;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  padding-top: 20.5px;
  padding-bottom: 20.5px;
  text-align: center;
}

.splash-nav-link {
  color: $green;
  min-width: 50px;

  a:link {
    color: $green;
  }
}

.splash-navbar-links a:hover {
  color: $light-green;
}

.fa-links {
  color: black;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  margin-top: -9px;
  width: 100px;
}

.personal-links {
  button {
    color: $green;
  }

  button:hover {
    color: $green;
  }
}

nav {
  background-color: #333;
  color: white;
  height: 64px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 19px;
  font-family: "DINPro-Medium";

  ul {
    display: flex;
    line-height: 64px;
    li {
      margin-right: 33px;
    }
    li:last-child {
      margin-right: 0;
    }
  }
}
