/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "colors";
@import "components/*";

html, body {
  // They use PF Din Text Arabic Medium, which is a paid font
  font-family: "DIN Pro", "DIN Web", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: $green;
  text-decoration: none;
}

a:active, a:focus, input:focus, button:focus {
  outline: 0;
}
