@import "colors";

html, body {
  // They use PF Din Text Arabic Medium, which is a paid font
  font-family: "DIN Pro", "DIN Web", "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: $green;
  text-decoration: none;
}

a:active, a:focus, input:focus, button:focus {
  outline: 0;
}
