/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "colors";
@import "components/*";

@font-face {
  font-family: "DINPro-Regular";
  src: font-url("DINPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DINPro-Medium";
  src: font-url("DINPro-Medium.ttf") format("truetype");
}

html, body {
  font-family: "DINPro-Medium";
  font-size: 13px;
  letter-spacing: 0.25px;
  margin: 0;
  text-align: left;
}

a {
  text-decoration: none;
}

a:active, a:focus, input:focus, button:focus {
  outline: 0;
}

ul, ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

header {
  background: white;
  margin: 0;
  max-width: 1024px;
  position: fixed;
  z-index: 10;
}

.loading {
  left: 47%;
  position: fixed;
  top: 50%;
  z-index: 10;
}

.red {
  color: #f45531;
}

.green {
  color: #21ce99;
}

.black {
  color: $black;
}

.hide {
  display: none;
}

.app {
  margin: auto;
  max-width: 1024px;
}
