$almost-white: #fafafa;
$black: #171718;
$bottom-border: #f4f4f5;
$cool-purple: #da0067;
$dark-border: #0e0d0d;
$dark-gray: #8c8c8e;
$gray: #cbcbcd;
$green: rgb(33, 206, 153);
$light-border: #b1bfc4;
$light-gray: #cdcdcd;
$light-green: rgb(26, 233, 170);
